*{
	margin: 0px;
	padding: 0px;
}

body{
background: rgba(19, 35, 47, 0.9);
font-family: 'Poppins', sans-serif;
}

#newsFeed{
  /*float: left;*/
  padding: 20px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.container{
	width: 95%;
}

.block{
	float: left;
	display: flex;
	margin-left: 2%;
	margin-top: 20px;
	width: 45%;
	background: #1ab188;
  background-image: url(http://bighdwalls.com/wp-content/uploads/bokeh-aqua-abstract-hd-background002.jpg);
}



.constructor{
float:left;
}

h3{
  margin: 10px;
  font-size: 20px;
  color: #b7edb4;
  padding-bottom: 12px;

}


.form {
  top: 60px;
  background: rgba(19, 35, 47, 0.9);
  padding: 20px;
  width: 80%;
  margin: 5%;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}


label {
  position: absolute;
  top: 3px;
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}



input, textarea {
  font-size: 15px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}


.field-wrap {
  position: relative;
  margin-bottom: 30px;
  width: 50%;
}

textarea {
  width: 180%;
}

.button {
  border: 0;
  border-radius: 0;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: #1ab188;
  color: #ffffff;
}

.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

time{
  font-size: 12px;
  color: #b7edb4;
  margin-bottom: 10px;
}

._post{
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin-bottom: 30px;
  padding: 10px;
}

.images{
  width: 90%;
  margin-bottom: 10px;

}

.names{
  text-align: left;
}

p{
  text-align: justify;
}


#preview{
  width: 40%;
  max-height: 260px;
  background-color: rgb(19, 35, 47);
  margin-bottom: 20px;
}

h5{
  color: #26bf26;
}

.btn{
  margin-left: 30px;
  height: 25px;
}




